# dependencies
/node_modules

# Next.js output
/.next
/out

# production output
/build

# local environment files
.env*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor and OS files
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel
